
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;
}

.head{
    
    text-align: center;
    width: 100%;
}
.stacks{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container{
    border: 1px solid black;
    max-width: auto;
    align-self: center;
    background-color: white;
}
.row{
    border: 1px solid white;
    display: flex;
   justify-content: center;
   padding: 12px;
}
.col{  
display: flex;
justify-content: center;

}
