
body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row{
    border: 1px solid red;
    display: flex;
   justify-content: center;
   padding: 12px;
}
.col{  
display: flex;
justify-content: center;

}